

header .navbar {
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
}

.carousel .carousel-item {
  height: 400px;
}

.carousel-item img {
  object-fit: cover;
  height: 100%;
  filter: brightness(30%);
}

.carousel-indicators button {
  background-color: white!important;
}

.carousel-item .description {
  font-size: 1.8rem;
}

[data-bs-theme=dark] .carousel .carousel-control-next-icon, [data-bs-theme=dark] .carousel .carousel-control-prev-icon {
  filter: unset;
}

.card img, .card iframe {
  object-fit: cover;
}

.card iframe {
  height: 300px;
}

.card img {
  height: 200px;
}

.even-height {
  display: flex;
}

.even-height .card-body {
  align-items: stretch; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-header {
  min-height: 60px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 480px) {
  .carousel-item .title {
    font-size: 30px;
  }
  .carousel-item .description {
    font-size: 21px;
  }
}
